.profilPhotoModalSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(39, 38, 38);
  z-index: 25;
}

.profilPhotoModalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  opacity: .8;
}

.profilPhotoModalClose svg {
  font-size: 2.5rem;
  /* color: rgb(66, 65, 65); */
  color: #fff;
  cursor: pointer;
}

/* preview section */
.profilPhotoModalPreview {
  position: relative;
  width: 100%;
  height: calc(100%);
  display: flex;
  justify-content: center;
}


.profilPhotoModalImage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilPhotoModalImageItem {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

/* control section */
.profilPhotoModalControl {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  opacity: .7;
  background-color: rgb(29, 29, 29);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilPhotoModalControl > div {
  height: 100%;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profilPhotoModalControl > div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

.profilPhotoModalControl > div svg {
  color: #fff;
  font-size: 2rem;
}

/* progress bar section */
.uploadFileProgressSection {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.uploadFileProgressBar {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: #c5e9cd;
  margin-top: 10px;
  overflow: hidden;
}

.uploadFileProgressPercentage {
  display: block;
  width: 0;
  height: 100%;
  background-color: #3c6a46;
  border-radius: 10px;
  transition: width .4s;
}

.uploadFileProgressSection span:nth-child(1) {
  font-size: 14px;
  color: rgb(39, 38, 38);
}

.uploadFileProgressPercentageText {
  font-size: 14px;
  color: rgb(39, 38, 38);
  margin-left: auto;
}

@media screen and (max-width: 576px) {
  .profilPhotoModalImage {
    width: 100%;
  }

  .uploadFileProgressSection {
    width: calc(100% - 20px);
  }
}