/* Css module for base component */
body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

/* Loading page Section */

.loadingPage {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 30;
  opacity: 1;
  transition: opacity .9s ease;
}

.loadingPageAnimation {
  opacity: 0;
}

.loadingPageLogo {
  font-size: 30px;
  font-weight: bold;
  width: auto;
  /* color: #fff; */
}

.loaderSection {
  width: 100px;
  height: 5px;
  background-color: #ffc5d6;
  /* background-color: #eee; */
  margin-top: 10px;
  overflow: hidden;
}

.loaderSectionIn {
  width: 30px;
  height: 100%;
  /* background-color: #009cea; */
  background-color: #e00045;
  animation: loaderPage 1s ease-in-out infinite alternate;
}

@keyframes loaderPage {
  0% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(90px);
  }
}

/* Navbar Section */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  z-index: 20;
}

.navbarLogo {
  font-size: 24px;
  font-weight: bold;
  width: 150px;
}

.navbarNavigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbarNav {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarIconMenu,
.navbarIconMenuClose {
  display: none;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #e00045;
  color: #fff;
  cursor: pointer;
}

.navbarIconMenuClose {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  background-color: transparent;
  color: #222;
}

.navbarNavLink {
  color: #222;
  font-size: 16px;
}

.navbarBtnSignin,
.navbarBtnSignup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarBtnSignin {
  background-color: transparent;
  color: #222;
  border: 2px solid transparent;
  margin-right: 5px;
}

.navbarBtnSignin:hover {
  background-color: transparent;
  border: 2px solid #eee;
}

.navbarBtnSignup {
  background-color: #e00045;
}

.navbarBtnSignup:hover {
  background-color: #e00045;
  opacity: .8;
}

.navbarProfile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.navbarProfileName {
  font-size: 16px;
  margin-right: 10px;
}

.navbarProfileImage {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

/* Content section */
.content {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 70px;
}

/* Footer Section */

.footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 80px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footerOne {
  width: calc(100%/2 - 10px);
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footerTwo {
  width: calc(100%/2 - 5px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerTitle {
  font-size: 18px;
  color: #f7f8f8;
  text-decoration: underline;
  font-weight: 700;
  padding-bottom: 30px;
  display: block;
}

.footerNav,
.footerNavIcons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footerNavLink {
  font-size: 16px;
  color: #f7f8f8;
  line-height: 30px;
}

.footerLogo {
  font-size: 22px;
  font-weight: bold;
  width: auto;
  display: block;
  color: #fff;
  opacity: .9;
  margin-bottom: 20px;
}

.footerSocialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #fff;
  color: #001d25;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

/* Mobile Menu section */

.mobileMenuContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 100vh;
  background-color: #fff;
  z-index: 30;
  transition: transform .5s ease;
}

.mobileMenuTransition {
  transform: translateX(100%);
}

.backgroundMenuBlack {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .5;
  transition: all .5s ease;
  z-index: 25;
}

.backgroundMenuBlackTransition {
  opacity: 0;
}

.mobileMenuHeader {
  width: 100%;
  min-height: 150px;
  height: auto;
  background-color: #009cea;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.mobileMenuHeaderImage {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.mobileMenuHeaderInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.mobileMenuHeaderName {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.mobileMenuHeaderInfoBtn {
  border: 2px solid #fff;
  background-color: #009cea;
  margin-top: 10px;
}

.mobildeMenuContent {
  width: 100%;
  height: calc(100vh - 150px);
  padding: 20px;
}

.mobildeMenuContent > div:first-child {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.mobileMenuNavItem {
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
  padding: 10px;
  border-left: 4px solid transparent;
  transition: all .4s;
}

.mobileMenuNavItem:hover {
  cursor: pointer;
  border-left-color: #009cea;
  background-color: #d0edfc;
  text-decoration: none;
}

.mobileMenuNavItemText {
  font-size: 16px;
  font-weight: 500;
  color: #494949;
  width: 100%;
  display: block;
}

.mobildeMenuLoginSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileMenuLoginText {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.mobileMenuControl {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.mobileMenuLoginBtn {
  margin-left: 10px;
  background-color: transparent;
  border: 2px solid #fff;
}

.mobileMenuLoginBtn:hover {
  background-color: transparent;
}

/* Media query section */

@media screen and (max-width: 1000px) {
  .footer {
    flex-direction: column;
  }

  .footerOne {
    width: calc(100% - 10px);
  }

  .footerOne:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    padding: 0 20px;
  }

  .navbarLogo {
    width: auto;
  }

  .footer {
    padding: 20px;
  }
}

@media screen and (max-width: 575px) {
  .navbarNavigation {
    display: none;
  }

  .navbarIconMenu,
  .navbarIconMenuClose {
    display: flex;
  }

  .footerOne {
    flex-direction: column;
  }

  .footerTwo {
    width: calc(100% - 5px);
    align-items: center;
  }

  .footerNav {
    align-items: center;
  }

  .footerTwo:not(:last-child) {
    margin-bottom: 20px;
  }

  .footerNavIcons {
    flex-direction: row;
  }

  .footerSocialIcon {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .mobileMenuContainer {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 400px) {
  .mobileMenuHeader {
    flex-direction: column;
    align-items: center;
  }

  .mobileMenuHeaderInfo {
    margin-top: 20px;
    margin-left: 0;
  }

  .mobildeMenuContent {
    height: calc(100vh - 244px);
  }
}